@import url("config.css");
@import url("navbar.css");
@import url("uwaje.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
}


.container {
  background-color: whitesmoke
}

.row:nth-of-type(1) .col-2:nth-of-type(1)>p:nth-of-type(1) {
  font-size: 25px;
  text-transform: capitalize;
}

.row:nth-of-type(1) .col-2:nth-of-type(1)>p:nth-of-type(2) {
  font-size: 13px;
  color: grey
}

.div2 a {
  background-color: var(--primary-color);
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.div2 i {
  color: white
}

.row:nth-of-type(2) .col-2:nth-of-type(1) img {
  width: 80%;
  border-radius: 12px;
}

.m-name {
  font-size: 30px;
  color: white
}

.row:nth-of-type(3) .col-2 p {
  color: var(--primary-color)
}

.row:nth-of-type(2) {
  height: 100px
}

.bg-pri {
  background-color: var(--primary-color);
}

.row:nth-of-type(3) {
  background-color: white;
  height: 100px
}


.wrapper .row:nth-of-type(1) .col-6 p {
  font-size: 30px;
}

.wrapper .row .col-12 {
  background-color: white;
}

.wrapper .row .col-12 p:nth-of-type(1) {
  color: grey
}

.wrapper .row .col-12 p:nth-of-type(2) {
  color: var(--primary-color)
}



.footer-d {
  display: flex;
  padding: 20px;
  background-color: var(--primary-color);
  flex-direction: row;
  justify-content: left;
  align-items: center;
  justify-content: space-evenly;
}

.img-f {
  height: 80px;
}

.footer-d1 {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 5px;
}

.footer-d1 a {
  margin-right: 20px;
  color: white
}

.footer-d2 {
  height: 30px;
  color: white
}

.footer-d2 p {
  color: white
}

.footer-d2 span {
  color: blue;
  margin-right: 5px
}

.footer-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px 5px 5px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-space {
  width: 200px;
  height: 100px;
}

.footer-space p {
  color: white;
  margin-bottom: 20px;
  ;
}